<html>
    <head>
        {% if title %}
        <title>{{ title }}- 微博客</title>
        {% else %}
        <title> 欢迎你</title>
        {% endif %}
    </head>
    <body>
        <div>Microblog: <a href="/index">首页</a></div>
        <hr>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <!--下面是模板实例内的内容-->
        {% block content %}{% endblock %}  
    </body>
</html>